@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Medium.woff") format("woff"), 
       url("../fonts/Roboto-Medium.ttf")  format("truetype"),
       url("../fonts/Roboto-Medium.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Regular.woff") format("woff"), 
       url("../fonts/Roboto-Regular.ttf")  format("truetype"),
       url("../fonts/Roboto-Regular.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Lato-Regular.woff") format("woff"), 
       url("../fonts/Lato-Regular.ttf")  format("truetype"),
       url("../fonts/Lato-Regular.svg#svgFontName") format("svg");
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 15px; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Roboto-Medium', Roboto-Regular, Lato-Regular, sans-serif;
	color: #89867e;
	background: #f9f9f9;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

.main,
.container > header {
	width: 100%;
	margin: 0 auto;
	padding: 2em;
	
}

.main {
	max-width: 60em;
	min-height: 45em;
  /*  margin-top: -16.3em;
    margin-left: 23.1em;*/
    border: 1px solid red;
    /*padding: 0px;*/
}

.container > header {
	max-height: 43.75em;
    background-image: url('../images/tela-principal.png');
    background-size: 100% 100%;
    border: 1px solid red;
}


